{% extends 'blog/base.html' %}

{% block title %} Share a post{% endblock  %}

{% block content %}
    {% if sent %}
        <h2>E-mail successfully sent</h2>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h2>Share "{{post.title}}" by e-mail</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="send e-mail" />
        </form>
    {% endif %}
{% endblock %}